@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(212, 45%, 89%);
}
.main{
    background-color: hsl(0, 0%, 100%);
   
    width: 351px;
    border-radius: 16px;
    height: 539px;
    margin: auto;
    margin-top: 133px;
}
.qr-image,img{
    width: 318px;
    border-radius: 18px;
    margin: 9px;
    margin-top: 21px;
    height: 308px;
}
.content{
    text-align: center;
    margin: 39px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Outfit', sans-serif;
}
.content_one{
    margin: -14px;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
h1{
    font-size: 24px;
}
.attribution{
    margin-top: 25px;
}

@media only screen and (max-width:375px) {
    .main{
        margin: auto;
        margin-top: 48px;
    }
    .content_one{
        font-size: 0.9375rem;
    }
    
}
